@{
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 data-aos="fade-up">Welcome to <span>QuickStart</span></h1>
    <p data-aos="fade-up" data-aos-delay="100">Quickly start your project now and set the stage for success<br></p>
    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
        <a href="#about" class="btn-get-started">Get Started</a>
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
    </div>
    <img src="~/assets/img/hero.png" class="img-fluid hero-img" alt="hero image" style="width:400px;">
</div>
